core/*.pyc
core/fixer/*.pyc
core/helpers/.DS_Store
core/helpers/*.pyc
core/helpers/qc/*.*
core/model/*.pyc
core/util/*.pyc
.DS_Store
core/.DS_Store
core/fixer/.DS_Store
core/model/.DS_Store
callers/.DS_Store
core/model/.DS_Store
core/util/.DS_Store
Callers/quality.py
.spyproject
